:root {
    --hyperlink-blue: #0645ad;
    --white: #f2f2f2;
    --yellow-cta: #fffafa;
    --pure-white: #fff;
    --fade-white: #ffffff50;
    --fade-grey: #c8c8c838;
    --red: #E23A39;
    --dark-red: #a12727;
    --red-transparent: #F2414190;
    --green: #0f893b;
    --purple: #210825;
    --fade-purple: #21082580;
    --dark-purple: #0A0022;
    --dark-grey: #343434;
    --fade-dark: #34343450;
    --yellow: #8c6f23;
    --blue-grey: #484d64;
    --fade-bg: #484d6480;
    --light-blue: #b9c4ce;
    --dark-blue: #1d2540;
    --fade-blue: #1d254080;
    --black-shadow: #00000035;
}

* {
    font-family: "Europa", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-shadow: rgba(0, 0, 0, .1) 0 0 1px;
}

main {
    margin: auto;
    padding: 0 16px;
}

a {
    text-decoration: none;
    color: var(--dark-blue);
}

ul {
    list-style: none;
}

h1 {
    font-size: 6rem;
    color: var(--dark-grey);
    font-weight: lighter;
    margin: auto;
}

h2 {
    font-size: 3.75rem;
    font-weight: lighter;
}

h3 {
    font-size: 3rem;
    font-weight: normal;
}

h4 {
    font-size: 2.12rem;
    font-weight: normal;
}

h5 {
    font-size: 1.5rem;
    font-weight: normal;
}

h6 {
    font-size: 1.25rem;
    font-weight: bold;
}

header {
    text-align: center;
}

.logo {
    width: 200px;
    margin: 20px auto;
}

.nav {
    display: flex;
    justify-content: center;
    border: 1px solid var(--fade-dark);
    border-style: solid none solid none;
}

.nav a {
    color: var(--dark-grey);
    padding: 10px;
    width: 150px;
    transition: 0.3s;
}

.nav a:hover {
    background-color: var(--fade-dark);
}

.breadcrumb {
    text-align: left;
    padding: 5px 16px;
    list-style: none;
    background: var(--white);
    border-bottom: 1px solid var(--fade-dark);
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li+li:before {
    margin: 5px;
    content: "/";

}

.breadcrumb li a {
    color: var(--hyperlink-blue)
}

.banner {
    transform: scaleX(-1);
    background-image: url("../images/CartoonUniverse1.jpeg");
    background-size: cover;
    background-position: center;
    height: 450px;
    color: var(--white);
    max-width: 1484px;
    margin:  50px auto;
    border-radius: 5px;
}

.banner-content {
    transform: scaleX(-1);
    width: 800px;
    text-align: center;
    float: right;
}

.banner-content h1 {
    color: var(--white);
    padding: 70px 0;
    line-height: 90px;
}

.banner-content a {
    background-color: var(--red-transparent);
    border: 5px solid var(--red);
    text-transform: uppercase;
    border-radius: 50px;
    padding: 15px 50px;
    color: var(--white);
    font-size: 1.2rem;
}

.welcome-container {
    margin: auto;
    max-width: 1300px;
}

.welcome-container h2 {
    margin: auto;
    color: var(--dark-grey);
}

.welcome {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.welcome-text {
    border-radius: 6px;
    max-width: 625px;
    margin: auto;
}

.welcome img {
    max-width: 625px;
    object-fit: cover;
}

/* OTHER STORE PAGE */
.store-banner {
    background-image: url(../images/CartoonUniverse2crop.jpg);
    background-size: cover;
    background-position: 50% 37%;
    max-width: 1484px;
    height: 450px;
    color: var(--white);
    margin: 50px auto;
    padding-top: 120px;
    border-radius: 5px;
}

.store-banner h1 {
    color: var(--white);
    text-align: center;
    float: left;
    width: 800px;
    line-height: 90px;
}

.store-heading {
    text-align: center;
    margin: 150px auto 100px auto;
}

.search-container {
    text-align: center;
    margin: auto;
}

.search-container input {
    padding: 10px 8px;
    width: 800px;
    font-size: 1rem;
}

.search-container label {
    font-size: 1.2rem;
}

.recommended-container h4 {
    text-align: center;
    background-color: var(--blue-grey);
    color: var(--white);
    padding: 10px;
    margin: 26px auto 10px auto;
    max-width: 1484px;
}

.recommended {
    max-width: 1484px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
}

.product-card {
    max-width: 300px;
    text-align: center;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 2px 2px 2px var(--black-shadow);
}

.product-card div {
    color: var(--dark-grey);
    text-align: center;
}

.product-card img {
    max-width: 300px;
}

.product-card h5 {
    margin: auto;
    padding: 8px 0 16px 0;
}

.product-info {
    border-top: 1px solid var(--fade-dark);
    border-bottom: 1px solid var(--fade-dark);
    padding-bottom: 14px;
}

.readmore {
    color: var(--hyperlink-blue);
    border-bottom: 1px solid var(--hyperlink-blue);
}

.product-cart {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.product-cart button {
    background-color: var(--yellow);
    color: var(--white);
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px 2px var(--fade-dark);
    font-size: 1.4rem;
    margin: auto 0;
    padding: 8px 24px;
    cursor: pointer;
    transition: 0.2s;
}

.product-cart button:hover {
    background-color: var(--dark-grey);
}

/* LOGIN PAGE*/
.login-container {
    display: grid;
    grid-template-columns: 35% 65%;
    background: var(--white);
    box-shadow: 1px 1px 5px var(--black-shadow);
    margin: 50px auto;
    max-width: 1024px;
    text-align: center;
    height: 600px;
    color: var(--dark-grey);
}

.login-form {
    margin: auto;
}

.login-form img {
    max-width: 225px;
}

.create {
    font-weight: bold;
}

.login-fb {
    background: #4267B2;
    color: var(--pure-white);
    font-size: 21px;
    font-weight: lighter;
    padding: 8px 28px 16px 28px;
    border-radius: 5px;
    cursor: pointer
}

.login-fb i {
    color: var(--pure-white);
    margin-right: 10px;
    font-size: 1.75em;
    position: relative;
    top: 5px;
}

.login-form label {
    display: block;
    text-align: left;
    margin: 16px auto 0 auto;
    font-size: 18px;
}

.login-form input {
    border: 1px solid var(--fade-dark);
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    height: 34px;
    padding-left: 8px;
}

.login-submit {
    padding: 15px 95px;
    margin: 16px auto 16px auto;
    border: 5px solid var(--dark-blue);
    border-radius: 10px;
    color: var(--dark-grey);
    font-size: 21px;
    font-weight: lighter;
    cursor: pointer;
    transition: 0.3s;
}

.login-title {
    background: url(../images/Universe3.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .3);
    color: var(--white);
}

.login-title h1 {
    color: var(--white);
    text-align: left;
    margin: 75px 0 0 32px;
    line-height: 85px;
}

.subtext {
    text-align: left;
    margin: 45px 0 0 32px;
    font-size: 1.6em;
    max-width: 550px;
}

/* ABOUT US PAGE */
.about-container {
    margin: auto;
    max-width: 1113px;
}

.about-container h1 {
    margin: auto;
    text-align: center;
}

.about {
    display: flex;
    justify-content: space-around;
    margin: 50px auto 100px auto;
}

.about-text {
    border: 2px solid var(--dark-grey);
    border-radius: 6px;
    padding: 26px;
    max-width: 500px;
}

.about-text h4 {
    margin: auto;
}

.about img {
    max-width: 300px;
}

/* SUPPORT PAGE */
.contact-title {
    margin: auto;
    text-align: center;
}

.contact-container {
    margin: 32px auto;
    max-width: 1113px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 16px;
    text-align: center;
}

.contact {
    background: var(--white);
    box-shadow: 1px 1px 7px var(--black-shadow);
    margin-bottom: 32px;
    padding-bottom: 32px;
}

.contact i {
    font-size: 2.5em;
    color: var(--dark-grey);
    margin: 32px auto 0 auto;
}

.contact h5 {
    margin: 16px auto 32px auto;
    color: var(--dark-grey);
}

.phone {
    color: var(--hyperlink-blue);
}

.opening-hours {
    text-align: left;
    color: var(--dark-grey);
    font-weight: lighter;
}

.opening-hours table {
    margin: auto;
}

.contact-social p {
    margin: 0 0 16px 0;
    padding: 49px;
    color: var(--white);
    font-size: 21px;
    text-transform: uppercase;
    font-weight: lighter;
}

.c-fb {
    background: #4267B2;
}

.c-tw {
    background: #1DA1F2;
}

.c-ig {
    background: #C13584;
}

.form-email {
    display: grid;
    grid-template-columns: auto;
    max-width: 362px;
    margin: auto;
}

.form-email label {
    margin-top: 16px;
    text-align: left;
    font-size: 18px;
    font-weight: lighter;
    color: var(--dark-grey);
}

.form-email input {
    padding: 10px;
    border: 1px solid var(--fade-dark);
}

.form-email textarea {
    border: 1px solid var(--fade-dark);
    overflow: hidden;
    padding: 5px 5px 100px 5px;
}

.contact-checkbox {
    text-align: left;
}

.contact-checkbox label {
    display: inline-block;
    font-size: 16px;
}

.contact-submit input {
    margin: 32px auto 0 auto;
    padding: 15px 138px;
    font-size: 18px;
    border: none;
    background: var(--dark-grey);
    color: var(--white);
    border-radius: 50px;
    cursor: pointer;
}

#validationMessage {
    display: none;
    background: var(--green);
    color: var(--pure-white);
    font-weight: 100;
    border-radius: 10px;
    width: 60%;
    padding: 1px 8px;
    margin: auto;
}

.form-error {
    display: none;
    color: red;
    font-size: 0.9rem;
    margin-top: 2px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    margin: 75px auto;
    padding-top: 25px;
    color: var(--light-blue);
    border-top: 1px solid var(--dark-blue);
}

footer img {
    max-width: 100px;
}

/* STORE PAGE */
.store-head {
    text-align: center;
    margin: 0;
    grid-column: 1/7;
    grid-row: 1;
    color: var(--white);
 }

 .store-container {
    display: grid;
    margin: 20px auto;
    /* max-width: 1400px; */
    grid-template-columns: repeat(5, 250px) 1fr;
    grid-template-rows: 150px repeat(4, 400px);
    gap: 30px;
    background: linear-gradient(#210825, #0A0022);
    border-radius: 15px;
    padding: 30px;
}

.sort-container {
    grid-column: 1/2;
    grid-row: 2/6 span;
    background: linear-gradient(#484d6480, #1d254000, #0A002200);
    padding: 25px 20px;
    border-radius: 15px;
    color: var(--white);
}

.top-card {
    grid-column: 2/6;
    grid-row: 2/3;
    border-radius: 15px;
    background-color: var(--fade-bg);
    background: url(../images/CartoonUniverse2crop.jpg);
    background-size: cover;
    background-position: 50% 30%;
}

.top-card h2 {
    color: var(--white);
    width: 700px;
    text-align: center;
    padding: 110px 50px;
}

.test-card {
    background-color: var(--fade-bg);
    border-radius: 15px;
    padding: 20px;
    color: var(--white);
}

.test-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 50%;
    border-radius: 10px;
}

.test-top h5 {
    margin: 5px auto;
}

.test-top p {
    color: var(--light-blue);
    font-weight: 100;
}

.test-details {
    position: relative;
}

.test-bot {
    display: flex;
    position: absolute;
    top: 105px;
}

.test-bot p {
    font-size: 2rem;
    font-weight: 600;
    color: var(--yellow);
}

.test-bot button {
    padding: 15px 50px;
    border-radius: 25px;
    background-color: var(--yellow);
    color: var(--white);
    border: none;
    font-weight: 600;
    cursor: pointer;
    margin-left: 30px;
}

.sort-container h5 {
    margin: 30px auto 15px auto;
}

.genres h5 {
    margin-top: 0;
}

.sort-container input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background-color: var(--blue-grey);
    border-radius: 5px;
    appearance: none;
    outline: none;
    cursor: pointer;
}

.sort-container input[type="checkbox"]:checked {
    background-color: var(--yellow);
}

.sort-container li {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px auto;
    font-weight: 100;
}

.price-input {
    display: flex;
}

.field {
    position: relative;
    height: 30px;
}

.field label {
    display: block;
}

.field span {
    position: absolute;
    top: 115%;
    width: 30px;
    color: #ffffff50;
    pointer-events: none;
    text-align: center;
}

.field input {
    height: 50px;
    width: 100%;
    background-color: var(--blue-grey);
    border: none;
    color: var(--white);
    text-align: center;
    border-radius: 10px;
}

.store-container input::-webkit-outer-spin-button,
.store-container input::-webkit-inner-spin-button {
    appearance: none;
}

.separator {
    width: 50px;
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.store-btn {
    margin-top: 50px;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: var(--yellow);
    color: var(--yellow-cta);
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
}

/* CART */
.store-cart {
    grid-column: 6/7;
    grid-row: 2/5;
    background: linear-gradient(#484d6480, #1d254000);
    padding: 25px 20px;
    border-radius: 15px;
    color: var(--white);
    width: 100%;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--fade-white);
    margin-right: 24px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    margin-left: 8px;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-remove {
    color: var(--white);
    background-color: var(--red);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: var(--dark-red);
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: none;
    background-color: var(--blue-grey);
    color: var(--white);
    padding: 0;
    text-align: center;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid var(--fade-white);
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 20px;
}

.cart-total-price {
    font-size: 1.1em;
}