:root {
    --hyperlink-blue: #0645ad;
    --white: #f2f2f2;
    --yellow-cta: #fffafa;
    --pure-white: #fff;
    --fade-white: #ffffff50;
    --fade-grey: #c8c8c838;
    --red: #E23A39;
    --dark-red: #a12727;
    --fade-red: #F2414190;
    --green: #0f893b;
    --fade-green: #0f893cd9;
    --purple: #210825;
    --fade-purple: #21082580;
    --dark-purple: #0A0022;
    --dark-grey: #343434;
    --fade-dark: #34343450;
    --yellow: #977419;
    --dark-yellow: #8c6f23;
    --light-yellow: #f4bb28;
    --blue-grey: #484d64;
    --fade-bg: #484d6480;
    --light-blue: #b9c4ce;
    --dark-blue: #1d2540;
    --fade-blue: #1d254080;
    --black-shadow: #00000035;
}

* {
    font-family: "Europa", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-shadow: rgba(0, 0, 0, .1) 0 0 1px;
}

main {
    margin: auto;
    padding: 0 16px;
}

a {
    text-decoration: none;
    color: var(--dark-blue);
}

ul {
    list-style: none;
}

h1 {
    font-size: 6rem;
    color: var(--dark-grey);
    font-weight: lighter;
    margin: auto;
}

h2 {
    font-size: 3.75rem;
    font-weight: lighter;
}

h3 {
    font-size: 3rem;
    font-weight: normal;
}

h4 {
    font-size: 2.12rem;
    font-weight: normal;
}

h5 {
    font-size: 1.5rem;
    font-weight: normal;
}

h6 {
    font-size: 1.25rem;
    font-weight: bold;
}

header {
    text-align: center;
    background-color: var(--white);
}

footer {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 75px auto;
    padding-top: 25px;
    color: var(--light-blue);
    border-top: 1px solid var(--dark-blue);
    text-align: center;
    align-items: center;
}

footer * {
    width: 100px;
}

footer p {
    width: 200px;
}

footer a:nth-child(n+5) {
    width: 133px;
}

footer a:hover {
    text-decoration: underline;
}

.logo {
    width: 200px;
    margin: 7px auto 3px auto;
}

.nav {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    box-shadow: 0px 2px 3px var(--black-shadow);
}

.nav a {
    color: var(--white);
    padding: 12px;
    width: 200px;
    border-right: 1px solid var(--white);
    background-color: var(--dark-blue);
    transition: 0.3s;
    box-shadow: 0px 3px 3px var(--black-shadow);
}

.nav a:first-child {
    border-radius: 10px 0 0 10px;
}

.nav a:last-child {
    border-radius: 0 10px 10px 0;
    border: none;
}

.nav a:hover {
    background-color: var(--blue-grey);
}

.nav i {
    margin-right: 5px;
    padding: 3px 0 2px 0;
}

.nav .nav-current {
    background-color: var(--dark-yellow);
}

.breadcrumb {
    text-align: left;
    width: 200px;
    padding: 5px 16px;
    list-style: none;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li+li:before {
    margin: 5px;
    content: ">";

}

.breadcrumb li a {
    color: var(--hyperlink-blue)
}

/* HOME PAGE */
.banner {
    transform: scaleX(-1);
    background-image: url("../images/CartoonUniverse1.jpeg");
    background-size: cover;
    background-position: center;
    height: 450px;
    color: var(--white);
    max-width: 1484px;
    margin:  50px auto;
    border-radius: 5px;
}

.banner-content {
    transform: scaleX(-1);
    width: 800px;
    text-align: center;
    float: right;
}

.banner-content h1 {
    color: var(--white);
    padding: 70px 0;
    line-height: 90px;
}

.banner-content a {
    background-color: var(--fade-red);
    border: 5px solid var(--red);
    text-transform: uppercase;
    border-radius: 50px;
    padding: 15px 50px;
    color: var(--white);
    font-size: 1.2rem;
    transition: 0.2s;
}

.banner-content a:hover {
    background-color: var(--red);
}

.welcome-container {
    margin: auto;
    max-width: 1300px;
}

.welcome-container h2 {
    margin: auto;
    color: var(--dark-grey);
}

.welcome {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.welcome-text {
    border-radius: 6px;
    max-width: 625px;
    margin: auto;
}

.welcome img {
    max-width: 625px;
    object-fit: cover;
}

/* LOGIN PAGE*/
.login-container {
    display: grid;
    grid-template-columns: 35% 65%;
    background: var(--white);
    box-shadow: 1px 1px 5px var(--black-shadow);
    margin: 50px auto;
    max-width: 1024px;
    text-align: center;
    height: 600px;
    color: var(--dark-grey);
}

.login-form {
    margin: auto;
}

.login-form img {
    max-width: 225px;
}

.create {
    font-weight: bold;
}

.login-fb {
    background: #4267B2;
    color: var(--pure-white);
    font-size: 21px;
    font-weight: lighter;
    padding: 8px 28px 16px 28px;
    border-radius: 5px;
    cursor: pointer
}

.login-fb i {
    color: var(--pure-white);
    margin-right: 10px;
    font-size: 1.75em;
    position: relative;
    top: 5px;
}

.login-form label {
    display: block;
    text-align: left;
    margin: 16px auto 0 auto;
    font-size: 18px;
}

.login-form input {
    border: 1px solid var(--fade-dark);
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    height: 34px;
    padding-left: 8px;
}

.login-submit {
    padding: 15px 95px;
    margin: 16px auto 16px auto;
    border: 5px solid var(--dark-blue);
    border-radius: 10px;
    color: var(--dark-grey);
    font-size: 21px;
    font-weight: lighter;
    cursor: pointer;
    transition: 0.3s;
}

.login-title {
    background: url(../images/Universe3.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .3);
    color: var(--white);
}

.login-title h1 {
    color: var(--white);
    text-align: left;
    margin: 75px 0 0 32px;
    line-height: 85px;
}

.subtext {
    text-align: left;
    margin: 45px 0 0 32px;
    font-size: 1.6em;
    max-width: 550px;
}

/* ABOUT US PAGE */
.about-container {
    margin: auto;
    max-width: 1113px;
}

.about-container h1 {
    margin: auto;
    text-align: center;
}

.about {
    display: flex;
    justify-content: space-around;
    margin: 50px auto 100px auto;
}

.about-text {
    border: 2px solid var(--dark-grey);
    border-radius: 6px;
    padding: 26px;
    max-width: 500px;
}

.about-text h4 {
    margin: auto;
}

.about img {
    max-width: 300px;
}

/* SUPPORT PAGE */
.contact-title {
    margin: auto;
    text-align: center;
}

.contact-container {
    margin: 32px auto;
    max-width: 1113px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 16px;
    text-align: center;
}

.contact {
    background: var(--white);
    box-shadow: 1px 1px 7px var(--black-shadow);
    margin-bottom: 32px;
    padding-bottom: 32px;
}

.contact i {
    font-size: 2.5em;
    color: var(--dark-grey);
    margin: 32px auto 0 auto;
}

.contact h5 {
    margin: 16px auto 32px auto;
    color: var(--dark-grey);
}

.phone {
    color: var(--hyperlink-blue);
}

.opening-hours {
    text-align: left;
    color: var(--dark-grey);
    font-weight: lighter;
}

.opening-hours table {
    margin: auto;
}

.contact-social p {
    margin: 0 0 16px 0;
    padding: 49px;
    color: var(--white);
    font-size: 21px;
    text-transform: uppercase;
    font-weight: lighter;
}

.c-fb {
    background: #4267B2;
}

.c-tw {
    background: #1DA1F2;
}

.c-ig {
    background: #C13584;
}

.form-email {
    display: grid;
    grid-template-columns: auto;
    max-width: 362px;
    margin: auto;
}

.form-email label {
    margin-top: 16px;
    text-align: left;
    font-size: 18px;
    font-weight: lighter;
    color: var(--dark-grey);
}

.form-email input {
    padding: 10px;
    border: 1px solid var(--fade-dark);
}

.form-email textarea {
    border: 1px solid var(--fade-dark);
    overflow: hidden;
    padding: 5px 5px 100px 5px;
}

.contact-checkbox {
    text-align: left;
}

.contact-checkbox label {
    display: inline-block;
    font-size: 16px;
}

.contact-submit input {
    margin: 32px auto 0 auto;
    padding: 15px 138px;
    font-size: 18px;
    border: none;
    background: var(--dark-grey);
    color: var(--white);
    border-radius: 50px;
    cursor: pointer;
}

#validationMessage {
    display: none;
    background: var(--green);
    color: var(--pure-white);
    font-weight: 100;
    border-radius: 10px;
    width: 60%;
    padding: 10px;
    margin: auto;
}

.form-error {
    display: none;
    color: var(--red);
    font-size: 0.9rem;
    margin-top: 2px;
}

/* STORE PAGE */
.store-container {
    /* display: grid;
    margin: 20px auto;
    grid-template-columns: 250px auto 411px;
    grid-template-rows: auto;
    gap: 30px; */
    /* background: linear-gradient(#210825, #0A0022); */
    border-radius: 15px;
    margin-top: 50px;
}

.store-head h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* grid-column: 2/3;
    grid-row: 1/2; */
    color: var(--white);
    border-radius: 15px;
    width: 100%;
    height: 200px;
    background-color: var(--dark-purple);
 }

 .top-card {
    /* grid-column: 2/3;
    grid-row: 2/3; */
    margin: 30px auto;
    border-radius: 15px;
    background-color: var(--fade-bg);
    background: url(../images/CartoonUniverse2crop.jpg);
    background-size: cover;
    background-position: 50% 15%;
}

.top-card h2 {
    display: flex;
    align-items: center;
    color: var(--white);
    text-align: center;
    width: 700px;
    height: 300px;
}

.sort-container {
    /* grid-column: 1/2;
   grid-row-start: 1; */
    position: sticky;
    top: 20px;
    /* background: linear-gradient(#484d6480, #1d254000); */
    background: linear-gradient(#0A0022, #210825);
    padding: 25px 20px;
    border-radius: 15px;
    color: var(--white);
    height: 850px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    float: left;
    margin-right: 30px;
}

.store-cart {
    /* grid-column: 3/4;
    grid-row-start: 1; */
    overflow: auto;
    position: sticky;
    top: 20px;
    /* background: linear-gradient(#484d6480, #1d254000); */
    background: linear-gradient(#0A0022, #210825);
    padding: 25px 20px;
    border-radius: 15px;
    color: var(--white);
    width: 350px;
    float: right;
    margin: 0 0 30px 30px;
}

/* .products-container {
    margin: 30px 0;
    grid-column: 2/3;
    grid-row: 3/auto; 
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(5, 400px);
    gap: 30px; 
} */

.product-list {
    /* display: flex;
    flex-wrap: wrap;
    gap: 30px; */
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.product-card {
    /* background-color: var(--fade-bg); */
    /* width: 265px;
    height: 400px; */
    min-width: 275px;
    height: 100%;
    background: linear-gradient(#210825, #0A0022);
    border-radius: 15px;
    padding: 20px;
    color: var(--white);
    transition: 0.2s;
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 50%;
    border-radius: 10px;
    transition: 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card:hover img {
    transform: scale(1.07);
}

.details-top p {
    margin: 8px auto 5px auto;
    font-size: 1.3em;
}

.details-top div {
    display: flex;
    gap: 5px;
    font-weight: 100;
}

.available-platform {
    background: var(--fade-green);
    color: var(--white);
    padding: 0 6px 3px 6px;
    border-radius: 5px;
}

.unavailable-platform {
    background: var(--fade-red);
    color: var(--fade-white);
    padding: 0 6px 3px 6px;
    border-radius: 5px;
}

.details-bot {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.details-bot p {
    font-size: 2rem;
    font-weight: 600;
    color: var(--yellow);
}

.details-bot button {
    padding: 15px 50px;
    border-radius: 25px;
    background-color: var(--yellow);
    color: var(--white);
    border: none;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 3px 3px 5px var(--black-shadow);
}

.details-bot button:hover {
    background-color: var(--blue-grey);
}

.sort-container h5 {
    margin: 30px auto 15px auto;
}

.genres h5 {
    margin-top: 0;
}

.sort-container input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background-color: var(--blue-grey);
    border-radius: 5px;
    appearance: none;
    outline: none;
    cursor: pointer;
}

.sort-container input[type="checkbox"]:checked {
    background-color: var(--yellow);
}

.sort-container li {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px auto;
    font-weight: 100;
}

.price-input {
    display: flex;
}

.field {
    position: relative;
    height: 30px;
}

.field label {
    display: block;
}

.field span {
    position: absolute;
    top: 115%;
    width: 30px;
    color: #ffffff50;
    pointer-events: none;
    text-align: center;
}

.field input {
    height: 50px;
    width: 100%;
    background-color: var(--blue-grey);
    border: none;
    color: var(--white);
    text-align: center;
    border-radius: 10px;
}

.sort-container input::-webkit-outer-spin-button,
.sort-container input::-webkit-inner-spin-button {
    appearance: none;
}

.separator {
    width: 50px;
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.price-preowned {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    background-color: var(--dark-purple);
    padding: 10px;
    border-radius: 15px;
}

.price-preowned input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--fade-grey);
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.price-preowned input[type="checkbox"]:checked {
    background-color: var(--yellow);
}

.price-preowned p {
    margin-top: 10px;
    font-weight: 100;
    font-size: 0.9em;
}

.store-btn {
    margin-top: 15px;
    width: 209px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid var(--light-yellow);
    background-color: var(--dark-grey);
    color: var(--light-yellow);
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
}

.store-btn:hover {
    background-color: var(--dark-yellow);
    color: var(--white);
    border: none;
}

.toggle-button {
    display: none;
}

.cart-row {
    display: flex;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--fade-white);
    margin-right: 5px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-item-image {
    width: 80px;
    height: 80px;
    border-radius: 15px;
    object-fit: cover;
}

.cart-item {
    width: 65%;
}

.cart-price {
    width: 15%;
}

.cart-remove {
    width: 20%;
}

.btn-remove {
    color: var(--white);
    background-color: var(--red);
    border: none;
    border-radius: 5px;
    margin: auto;
    padding: 3px 7px;
    cursor: pointer;
}

.btn-remove::before {
    content: "\2573";
}

.btn-remove:hover {
    background-color: var(--dark-red);
}

.confirm-btn[disabled] {
    background-color: var(--fade-grey);
    border: 1px solid var(--fade-white);
    color: var(--fade-white);
    opacity: 50%;
    cursor: default;
}

.cart-item-title {
    margin: 0 8px;
}

.cart-total {
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 20px;
}

.cart-total-price {
    font-size: 1.1em;
}

#purchaseModal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--fade-dark);
  }

  .modal-content {
    background-color: var(--light-blue);
    margin: 15% auto;
    padding: 50px 20px;
    border-radius: 15px;
    width: 30%;
    color: var(--dark-blue);
    text-align: center;
    font-size: 2em;
  }

 .modal-content img {
      width: 200px;
  }

  .close-btn {
    color: var(--white);
    background-color: var(--dark-blue);
    margin-top: 30px;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    box-shadow: 2px 2px 3px var(--black-shadow);
  }

  .close-btn:hover {
      background-color: var(--blue-grey);
  }

  /* Desktop */

@media (max-width: 1885px) {
    .product-list {
    grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1580px) {
    .top-card {
        margin: 15px auto;
    }

    .product-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 15px auto;
    }

    .sort-container {
        margin-right: 15px;
        top: 10px;
    }

    .store-cart {
        margin-left: 15px;
        top: 10px;
    }
}

@media (max-width: 1274px) {
    main {
        padding: 0;
    }

    .breadcrumb {
        display: none;
    }

    footer {
        display: none;
    }

    .store-head, .top-card {
        margin: 10px;
    }

    /* .toggle-button {
        display: block;
        float: left;
        position: sticky;
        top: 15px;
        margin-right: 10px;
        z-index: 1;
    }

    .toggle-button button {
        padding: 20px 10px;
        font-size: 1.8em;
        border: none;
        background-color: var(--dark-purple);
        color: var(--white);
        border-radius: 0 10px 10px 0;
        box-shadow: 2px 3px 2px var(--black-shadow);
        margin: 15px 0;
    }

     .toggle-on, .toggle-off {
        display: block;
    }

    .toggle-off {
        display: none;
    } */

    .sort-container {
        height: 100%;
        top: 15px;
        margin: 0 10px;
        border-radius: 10px;
        width: 190px;
    }

    .product-list {
        grid-template-columns: repeat(2, auto);
        margin: 10px;
        gap: 5px;
    }

    .product-card img {
        height: 120px;
    }

    .store-cart {
        top: 15px;
        margin: 0 10px;
    }

    .store-cart img {
        display: none;
    }

    .product-card {
        min-width: 200px;
        padding: 15px;
    }

    .product-card img {
        width: 100%;
    }

    .details-top p {
        font-size: 1.2em;
    }

    .details-top span {
        font-size: 0.9em;
    }

    .details-bot button {
        padding: 15px 40px;
        font-size: 1em;
    }
}

@media (max-width: 1023px) {
   .sort-container {
       display: none;
   }

   .store-cart {
       width: 300px;
   }

   .modal-content {
       width: 50%;
       z-index: 1;
   }

}

@media (max-width: 767px) {
    header {
        margin: 15px 5px;
    }

    body {
        max-width: 767px;
        min-width: 360px;
    }

    .logo {
        display: none;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    .top-card h2 {
        width: 50%;
    }

    .store-cart {
        float: none;
        position: static;
        width: 97%;
        margin: 10px;
    }

    .store-cart img {
        display: block;
        width: 200px;
    }

    .product-list {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 530px) {
    .modal-content {
        width: 90%;
    }
}